body
{
    background-color: #272A61;
}
.p1
{
    font-size: medium;
    font-family: "Komika-Hand";
}
body A
{
    width: 600px;
    margin: 0 auto;
    background-color: #3B2A78;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
  