html
{
    background-color: #272A61;
}

body
{
    width: 600px;
    margin: 0 auto;
    background-color: #3B2A78;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {

    font-size: 500%;
 
 }