html
{
    background-color: #baddff;
}

body
{
    width: 0vmax;
    height: 400px;
    margin: 0 auto;
    background-color: #546bb1;
    padding: 0 20px 20px 20px;
    border: 5px solid #4c61a0;
}
h1 {

    font-size: 500%;
 
 }